<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Logger" connectionString="Data Source=localhost;Initial Catalog=LOG;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFileDirectory" value="C:\Log\"/>
    <add key="LogFileName" value="Logger"/>
    <add key="LogFileNameDateFormat" value="yyyyMMdd"/>
    <add key="LogFileLineFormat" value="{0}, Seguridad: {1}, Mensaje: {2}"/>
  </appSettings>
</configuration>